/* ==== Google font ==== */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url('font-awesome.css');

/* ==== overwrite bootstrap standard ==== */
@import url('overwrite.css');
@import url('animate.css');

/*************************
*******Typography******
**************************/
#search {
 background-color: white;
  }
  
  
  #search input[type="text"] {
      background: url(search-white.png) no-repeat 10px 6px #444;
      border: 0 none;
      font: bold 12px 'Roboto';
      color: #FFFBFB;
      width:150px;
      padding: 14px 15px 11px 13px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
      -webkit-transition: all 0.7s ease 0s;
      -moz-transition: all 0.7s ease 0s;
      -o-transition: all 0.7s ease 0s;
      transition: all 0.7s ease 0s;
      }
  
  #search input[type="text"]:focus {
      background: url(search-dark.png) no-repeat 10px 6px #fcfcfc;
      color: #6a6f75;
      width: 200px;
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
      }

/*Body dan halaman 
*/

body {
  background: #fff;
  font-family:'Roboto';
  color:#333;
  line-height:1.6em;
  overflow-x:hidden;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 18px;
    font-weight:500; 
    font-family:'Roboto';
	color:#282525;
}

h1{
  font-size: 36px;
  font-family: 'Roboto';
  color:#fff;
}

h2{
  font-size:20px;
  font-family: 'Roboto';

}

h3{
  font-size: 18px;
  color: #4CAF50;
  font-weight: 450;
  line-height: 24px;
  font-family: 'Roboto';
}

h4{
  font-size: 16px;
  font-family: 'Roboto';
}

a {
  color: #4CAF50;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
  font-family: 'Roboto';
  font-size: 40px;
}

a:hover, a:focus {
  color:rgba(0,0,0,.85);
  text-decoration:none;
}

hr {
  border-top: 1px Roboto #e5e5e5;
  border-bottom: 1px Roboto #fff;
}


.btn-primary {
	margin-top:30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #4CAF50;
}
.btn:hover {
	color: #fff;
	background-color: #3A833C;
	border-color: #4CAF50;
}

/*************************
*******Header******
**************************/
.navbar-fixed-top .navbar-toggle .icon-bar {
  background-color: #282525;
}

.navbar>.container .navbar-brand{
  margin-top: 0px;
  margin-bottom: 20px;
}

.navbar-brand {
  width: 20px;
  padding: 0px;
  margin:0;
  text-align: 'Roboto';
}
.navbar-brand img{
  margin-top: 15px;
}

.navbar-header a.navbar-brand {
   color:#282525;
   font-family:'Roboto';
}

.navbar-header a.navbar-brand:hover{
   color:#fff;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #282525;
  padding: 21px 0;
  color: black;
  padding-bottom: 0;
}

.navbar-nav{
  margin-top: 12px;
 }

.navbar-nav>li{
  margin-left: 1px;
  padding-bottom: 1px;
}

.navbar-fixed-top .navbar-nav > li > a {
	padding: 5px 12px;
	margin: 0;
	border-radius: 3px;
	color: #282525;
	line-height: 24px;
	display: inline-block;
	text-transform:Roboto;
	font-weight:500;
	font-size:18px;
  font-family:'Roboto';

}

.navbar-fixed-top .navbar-nav > li > a:hover{
	background: #fff;	
	color:#4CAF50;
}
/*Mewarnai Background Header */
.navbar-fixed-top {
  border: none;
  background: #fff;
	box-shadow: 0 0 40px #282525;
	-webkit-box-shadow: 0 0 40px #282525;
	-moz-box-shadow: 0 0 40px #282525;
}

.navbar-fixed-top .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}

.navbar-fixed-top .navbar-nav > .active > a,
.navbar-fixed-top .navbar-nav > .active > a:hover,
.navbar-fixed-top .navbar-nav > .active > a:focus,
.navbar-fixed-top .navbar-nav > .open > a,
.navbar-fixed-top .navbar-nav > .open > a:hover,
.navbar-fixed-top .navbar-nav > .open > a:focus {
  background-color: #fff;
  color: #282525;
}

/*************************
*******Slider******
**************************/
.slider {
	position: relative;	
	padding-top:70px;
}

#carousel-slider {
  position: relative;
}

#carousel-slider .carousel-indicators {
  bottom: -25px;
}

#carousel-slider .carousel-indicators li {
  border: 1px solid #ffbd20;
}

#carousel-slider a i {
  border: 1px solid #4CAF50;
  border-radius:50%;
  font-size: 30px;
  height: 50px;
  padding: 8px;
  position: absolute;
  top: 50%;
  width: 50px;
  color:#4CAF50;
}


#carousel-slider a i:hover {
  background:#4CAF50;
  color:#fff;
  border: 1px solid #4CAF50;
}

#carousel-slider 
.carousel-control {
  width:inherit;
}

#carousel-slider .carousel-control.left i {
  left:50px;
  top:265px;
}

#carousel-slider .carousel-control.right i {
  right: 50px;
  top:265px;
}

#carousel-slider
.carousel-control.left, 
#carousel-slider
.carousel-control.right {
  background: none;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 150px;
  font-size:40px;
  left: 15%;
  z-index: 10;
  padding-bottom: 0px;
  color: #fff;
  text-align: center;
}

.carousel-caption  h2 {
	font-size:60px;
	color: #4CAF50;
}

.carousel-caption  h2 span {
	font-size:60px;
	color: #fff;
}

.carousel-caption  p {
  font-size:30px;
  margin-top:30px;
  color:#fff;
}

.carousel-inner .form-inline .form-group button[type="livedemo"]{
	padding:20px 60px;
	font-size:25px;
	background:#4CAF50;
	color:#fff;
}

.carousel-inner .form-inline .form-group button[type="livedemo"]:hover {
	color:#4CAF50;
	background:#fff;
	-webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

.carousel-inner .form-inline .form-group button[type="getnow"]{
	padding:20px 60px;
	font-size:25px;
	background:#fff;
	color:#4CAF50;
}

.carousel-inner .form-inline .form-group button[type="getnow"]:hover {
	color:#fff;
	background:#4CAF50;
	-webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

/*************************
*******feature******
**************************/
#feature {
	padding-top:0px;
	background:#fff;
	padding-bottom:50px;
}

.hi-icon-effect {
	padding-bottom:30px;
	padding-left:10px;
	padding-right:10px;
}

.hi-icon-effect:hover {
	border-radius:6px;
	background:#f4f4f4;
	-webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

.hi-icon-effect i.fa:hover {
	background:#fff;
	color: #4CAF50;
	-webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

.text-center i {
	font-size:30px;
	margin-top:50px;
	margin-bottom:30px;
	color:#fff;
	padding:50px;
	background:#4CAF50;
	border-radius:50%;
}
.text-center h2 {
	margin-top:20px;
	margin-bottom:20px;
}

.text-center h3 {
	font-size:35px;
	margin-top:50px;
	margin-bottom:20px;
	color:#4CAF50;
}

.text-center p {
	margin-bottom:30px;
}

/*************************
*******services******
**************************/
#gallery {
	padding-top:0px;
	padding-bottom:70px;
	background:#f4f4f4;
}
#gallery img {
	border-radius:8px;
}

.gallery {
	margin-top:60px;
	margin-bottom:30px;
}

#gallery .text-center {
	padding-top:20px;
	margin-bottom:50px;
	padding-bottom:20px;
}

figure.effect-chico img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

figure.effect-chico:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/*************************
*******parallax******
**************************/

.parallax-window {
    min-height: 300px;
    background: transparent;
}

.parallax-window .text-center h2 {		
	font-size:20px;
	margin-top:30px;
	padding-top:5px;
	padding-bottom:5px;
	color:#fff;
}

.parallax-window .text-center p {	
	color:#fff;
	font-size:20px;	
}

.sub-parallax .form-inline .form-group button[type="purchase"] {
	padding:20px 90px;
	font-size:20px;
	background:#fff;
	color:#4CAF50;
	border-color: #4CAF50;
}

.sub-parallax .form-inline .form-group button[type="purchase"]:hover {
	background:#4CAF50;
	color:#fff;
	-webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

.sub-parallax .form-inline .form-group button[type="subscribe"] {
	padding:20px 90px;
	font-size:20px;	
}

.sub-parallax .form-inline .form-group button[type="subscribe"]:hover {
	background:#fff;
	color:#4CAF50;
	-webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

/*************************
*******programs******
**************************/
#programs {
	padding-top:0px;
	background:#fff;
	padding-bottom:40px;
}

#programs .text-center p {		
	margin-bottom:50px;
	padding-bottom:20px;
}

.programs-area h2 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 15px;
  font-size:25px;
  color:#fff;
}

.programs-area span {
   font-weight: 700;
   font-size: 18px;
   color:#fff;
}

.plan {
  position: relative;
  margin-bottom: 70px;
}

.programs-area ul {
  background:#FAFAFA;
  padding: 0;
  margin: 0;
}

.programs-area ul li {
  list-style: none;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 400;
}

.programs-area ul li:nth-child(even){
  background:#f5f5f5
}

.programs-area .price-three img, 
.programs-area .price-six img {
  position: absolute;
  right: 15px;
  top: 0;
}

.programs-area .heading-one, 
.programs-area .heading-two, 
.programs-area .heading-three {
  padding:17px 0;
} 

.programs-area .heading-one, 
.programs-area .heading-two, 
.programs-area .heading-three, 
.programs-area .heading-four, 
.programs-area .heading-five, 
.programs-area .heading-six, 
.programs-area .heading-seven {
  margin-left: -10px;
  border-radius:8px;
}

.programs-area .heading-one:hover, 
.programs-area .heading-two:hover, 
.programs-area .heading-three:hover, 
.programs-area .heading-four:hover, 
.programs-area .heading-five:hover, 
.programs-area .heading-six:hover, 
.programs-area .heading-seven:hover {
	background-color:#4CAF50;
	 -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

.programs-area .heading-one, 
.programs-area .price-one .plan-action .btn-primary {
  background: #4CAF50
}

.programs-area .heading-two, 
.programs-area .price-two .plan-action .btn-primary {
  background:#4CAF50;
}

.programs-area .heading-three,
.programs-area .price-three .plan-action .btn-primary {
  background: #4CAF50;
}

.programs-area .heading-four, 
.programs-area .price-four .plan-action .btn-primary {
  background: #4CAF50;
}

.programs-area .heading-five, 
.programs-area .price-five .plan-action .btn-primary {
  background: #4CAF50;
}

.programs-area .heading-six, 
.programs-area .price-six .plan-action .btn-primary {
  background: #4CAF50;
}

.programs-area .heading-seven, 
.programs-area .price-seven .plan-action .btn-primary {
  background: #4CAF50;
}

.programs-area .bg{
 background: #fafafa 
}

.programs-area .heading-one h3:before {
  border-color: #bf4539 transparent transparent;
}

.programs-area .heading-two h3:before {
  border-color: #4CAF50 transparent transparent;
}

.programs-area .heading-three h3:before {
  border-color: #d4880f transparent transparent;
}

.programs-area .heading-four h3:before {
  border-color: #424242 transparent transparent;
}

.programs-area .heading-five h3:before {
  border-color: #424242 transparent transparent;
}

.programs-area .heading-six h3:before {
  border-color: #bf4539 transparent transparent;
}

.programs-area .heading-seven h3:before {
  border-color: #424242 transparent transparent;
}

.programs-area h3:before {
  border-color: #D4880F transparent transparent;
  border-radius: 5px 0 0 0px;
  border-style: solid;
  border-width: 12px;
  content: "";
  height: 0;
  left: 4px;
  position: absolute;
  top: 78px;
  width: 0;
  z-index: -999;
}

.small-programs h3:after {
  height:94px;
}

.small-programs h3:before {
  top: 74px;
}

.plan-action {
  height: 40px;
}

.programs-area .plan-action .btn-primary {
  position: relative;
  padding:5px 20px;
  color: #fff;
  margin-top: 5px;
}

.programs-area .plan-action .btn-primary:hover {
  border:none;
}

.programs-area .price-two .plan-action .btn-primary:before, 
.programs-area .price-two .plan-action .btn-primary:after {
  border-color: #1f8c4d transparent transparent;
}

.programs-area .price-three .plan-action .btn-primary:before, 
.programs-area .price-three .plan-action .btn-primary:after {
  border-color: #d4880f transparent transparent;
}

.programs-area .price-four .plan-action .btn-primary:before, 
.programs-area .price-four .plan-action .btn-primary:after, 
.programs-area .price-five .plan-action .btn-primary:before, 
.programs-area .price-five .plan-action .btn-primary:after, 
.programs-area .price-seven .plan-action .btn-primary:before, 
.programs-area .price-seven .plan-action .btn-primary:after  {
  border-color: #4CAF50 transparent transparent;
  right: -9px;
}

.programs-area .price-six .plan-action .btn-primary:before, 
.programs-area .price-six .plan-action .btn-primary:after {
  border-color: #bf4539 transparent transparent;
  right: -9px;
}

/*************************
*******our team******
**************************/
#our-team {
	padding-top:0px;
	padding-bottom:70px;
	background:#f4f4f4;
}

#our-team h4 {
	color:#4CAF50;
}

#our-team .text-center {
	padding-top:20px;
	margin-bottom:30px;
	padding-bottom:10px;
}

#our-team .team img {
	border-radius:8px;
}

/*************************
*******footer******
**************************/
footer {
	background:#f4f4f4;
	padding-bottom:20px;
}





#contact {
	background:url('../img/map.jpg');
	padding-top:0px;
	padding-bottom:80px;
}

#contact .text-center {
	padding-top:20px;
	margin-bottom:30px;
	padding-bottom:10px;
}

#contact ul {
  list-style:none;
  font-family: Roboto;
	margin-left:-40px;
	font-size:13px;
}

#contact h2 {
	color:#000;
	margin-bottom:30px;
	font-size:25px;
}
.form-inline {
	margin-top:15px;
	margin-bottom:15px;	
}

.form-inline .form-group input[type="name"]{
	margin-top:10px;
	border-radius:4px;
	border-radius:6px;
}

.form-inline .form-group input[type="email"]{
	margin-top:10px;
	border-radius:6px;
	padding:5px 20px;
}

.sub-footer form {
	margin-top:60px;
	margin-bottom:30px;
}

.sub-footer .form-inline .form-group button[type="purchase"] {
	padding:20px 90px;
	font-size:25px;
}

.sub-footer .form-inline .form-group button[type="purchase"]:hover {
	background:#fff;
	color:#4CAF50;
	-webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

.sub-footer .form-inline .form-group button[type="subscribe"] {
	padding:20px 90px;
	font-size:25px;
	background:#fff;
	color:#4CAF50;
	border-color: #4CAF50;
}

.sub-footer .form-inline .form-group button[type="subscribe"]:hover {
	background:#4CAF50;
	color:#fff;
	-webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

ul.social-network {
	list-style:none;
	margin-top:20px;	
	padding:10px;
	transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.social-icon {
	text-align:center;
	margin-bottom:30px;
}

ul.social-network li {
	display:inline;
	margin: 0 18px;	
	font-size:25px;	
}

ul.social-network li a {	
	color:#d0d0d0;
	text-align:center;
}
.social-network li:hover .fa-twitter {
  color: #00abf0;
}
.social-network li:hover .fa-facebook {
  color: #39579a;
}
.social-network li:hover .fa-google-plus {
  color: #eb8984;
}
.social-network li:hover .fa-pinterest {
  color: #c9171e; 
}
.social-network li:hover .fa-linkedin {
  color: #0077b5; 
}
.social-network li:hover .fa-youtube-play {
  color: #DD2318; 
}
.social-network li:hover .fa-dribbble {
  color: #EA4C89 ; 
}
.social-network li:hover .fa-pinterest-square {
  color: #EA4B49; 
}

/*SCROLL UP*/
.cd-top.cd-top--show { 
  /* the button becomes visible */ 
  visibility: visible;
  opacity: 1;
 } 
 
 .cd-top.cd-top--fade-out { 
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */ 
  opacity: .5; 
 }

 /*Drop Down Menu*/
 .dropbtn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #4CAF50;
}

/*button group */
.newbutton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration:none ;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

  
}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #fff;
  border-radius: 2px;
  position: relative;
  display: inline-block;
}
.button1 a {
  background-color: white; 
  color: black; 
  border: 2px solid #fff;
  border-radius: 12px;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button1:hover a {
  background-color: #4CAF50;
  color: white;
}
.button2 {
  background-color: white; 
  color: white; 
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  

}
.button2 a {
  background-color: white; 
  color: white; 
  border: 0px solid #fff;
  border-radius: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
}

.button2:hover {
  background-color: #fff;
  color: white;
}

.button2:hover a {
  background-color: #fff;
  color: white;

}
.newbutton a {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background-color: #FBFDFB; /* Green */
  border: none;
  color: #060505;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  
}